@import '../styles/media.css';

.page {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 1200px;
  padding: 36px 0 72px 0;
  margin: 0 auto;

  .title {
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;
  }

  .subtitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
  }

  @media screen and (--large-viewport) {
    padding: 32px 48px 72px 48px;

    .title {
      display: none;
    }
  }

  @media screen and (--medium-viewport) {
    padding: 12px 12px 24px 12px;
  }
}

.mainContainer {
  display: flex;
  width: 100%;
  gap: 34px;
}

.left {
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  flex: 2;
  background: var(--skypro-white);
  max-height: calc(100vh - 253px);
  min-height: 618px;
  box-shadow: 0 20px 67px -12px rgba(0, 0, 0, 0.13);
  overflow: hidden;

  .leftHead {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    z-index: 1;
    padding: 32px 34px 32px 32px;

    button.openAddExpense {
      display: none;
      width: fit-content;

      svg {
        width: 24px;
        height: 24px;
      }
    }
  }

  .filterSortControls {
    display: flex;
    gap: 24px;
  }
}

.left {
  @media screen and (--large-viewport) {
    .leftHead {
      flex-direction: column;
      gap: 0;
      padding-top: 24px;

      .tableActions {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        width: 100%;

        button.openAddExpense {
          display: flex;
          height: fit-content;
          padding: 10px;

          svg {
            display: none;
          }
        }
      }
    }
  }

  @media screen and (--medium-viewport) {
    max-height: calc(100dvh - 84px);
    min-height: calc(100dvh - 84px);

    .leftHead {
      border-bottom: 1px solid var(--skypro-lightgray-10-dark);
      padding-top: 32px;
      gap: 16px;
      padding-bottom: 24px;

      .tableActions {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        button.openAddExpense {
          display: flex;
          height: fit-content;
          padding: 10px;

          span {
            display: none;
          }

          svg {
            display: block;
          }
        }
      }

      .filterSortControls {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 6px;
      }
    }
  }
}

.right {
  z-index: 1;
  flex: 1;
  max-width: 379px;
  display: flex;
  flex-direction: column;
  height: fit-content;
  gap: 24px;
  align-items: flex-start;
  justify-content: center;
  background: var(--skypro-white);
  box-shadow: 0 20px 67px -12px rgba(0, 0, 0, 0.13);
  border-radius: 30px;
  padding: 32px 34px 32px 32px;

  .closeButton {
    display: none;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    position: absolute;
    top: 16px;
    right: 16px;
  }

  @media screen and (--large-viewport) {
    position: fixed;
    bottom: 0;
    right: -379px;
    top: 0;
    min-height: 100%;
    padding-top: 72px;
    border-radius: unset;
    z-index: 1000;
    justify-content: flex-start;
    transition: transform 400ms ease;

    .closeButton {
      display: block;
    }

    &.open {
      transform: translateX(-100%);
    }
  }

  @media screen and (--medium-viewport) {
    max-width: 100%;
    right: -100%;
  }
}
